<div class="container mt-5" id="main_table">

  <!-- Navigation element -->
  <div class="row">
    <div *ngIf="data.page" class="col mb-2">
      <button (click)="data.prevPage()" *ngIf="!data.page.first"
              class="badge badge-info float-left">Prev
      </button>

      <button (click)="data.nextPage()" *ngIf="!data.page.last &&
            data.page.totalPages > data.page.pageable.pageNumber"
              class="badge badge-info float-right">Next
      </button>
    </div>
  </div>

  <!--  Header table -->
  <div class="row table-primary mt-2">
    <div class="col mb-1">
      First Name
    </div>
    <div class="col mb-1">
      Last Name
    </div>
    <div class="col mb-1">
      Age
    </div>
    <div class="col mb-1">
      Phone number
    </div>
    <div class="col mb-1">
      <button (click)="data.deleteAllUsers()" class="badge badge-danger">Delete All</button>
    </div>
  </div>
  <!--  Data table -->
  <div *ngFor="let user of data.users$ | async">
    <div class="row table-secondary table-bordered" id="{{user.id}}">
      <div class="col">
        {{user.firstName}}
      </div>
      <div class="col">
        {{user.lastName}}
      </div>
      <div class="col">
        {{user.age}}
      </div>
      <div class="col">
        {{user.phoneNo ? user.phoneNo : ''}}
      </div>
      <div class="col">
        <button (click)="data.deleteUserById(user.id)" class="badge badge-danger">Delete</button>
      </div>
    </div>
  </div>
  <!--  Footer table -->
  <div *ngIf="data.page" class="row table-info">
    <div class="col">
      Page: {{data.page.pageable.pageNumber + 1}}
    </div>
    <div class="col">
      Total pages: {{data.page.totalPages}}
    </div>
    <div class="col">
      Total entries: {{data.page.totalElements}}
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <!-- oldest member -->
  <div *ngIf="data.page">
    <div class="row table-light mt-3">
      <div class="col">
        Oldest member
      </div>
    </div>
    <div class="row table-warning">
      <div class="col">
        {{(data.oldestUser$ | async).firstName }}
      </div>
      <div class="col">
        {{(data.oldestUser$ | async).lastName}}
      </div>
      <div class="col">
        {{(data.oldestUser$ | async).age}}
      </div>
      <div class="col">
        {{(data.oldestUser$ | async).phoneNo}}
      </div>
      <div class="col">
        <button class="badge badge-info" (click)="data.getOldest()">refresh</button>
      </div>
    </div>
  </div>


</div>
